{
  "openapi": "3.1.0",
  "info": {
    "title": "用于与 HEROSMS 配合使用的 API 协议",
    "description": "您使用软件进行注册吗？ HeroSMS 与以前的 SMS-Activate 合作伙伴兼容\n\n1. 选择任何包含 SMS-Activate 的 SMS 接收服务的软件。\n2. 选择SMS-Activate 作为接收短信​​的服务。\n3. 在软件设置中将主机从 https://api.sms-activate.ae 替换为 https://hero-sms.com。\n4. 输入您 HeroSMS 帐户中的 API 密钥（在我们的网站上请求）。\n\n如果您遇到任何困难，请联系我们的技术支持。我们会处理一切。",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://hero-sms.com/api/v1",
      "description": "HeroSMS API服务器"
    },
    {
      "url": "https://hero-sms.com/stubs/handler_api.php",
      "description": "SMS-Activate API 兼容服务器"
    }
  ],
  "paths": {
    "/activations/offers": {
      "get": {
        "tags": [
          "Activations"
        ],
        "summary": "激活优惠",
        "description": "服务按随机顺序提供，国家按受欢迎程度排序",
        "operationId": "434f72d594d60aac33007f802a61b90d",
        "parameters": [
          {
            "$ref": "#/components/parameters/servicesPath"
          },
          {
            "$ref": "#/components/parameters/countriesPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ActivationsOffersSchema"
                      }
                    }
                  },
                  "type": "object"
                },
                "examples": {
                  "Без фильтра": {
                    "$ref": "#/components/examples/ActivationsOffersExample"
                  },
                  "Фильтр по сервисам": {
                    "$ref": "#/components/examples/ActivationsOffersServicesFilterExample"
                  },
                  "Фильтр по странам": {
                    "$ref": "#/components/examples/ActivationsOffersCountriesFilterExample"
                  },
                  "Фильтр по сервисам и странам": {
                    "$ref": "#/components/examples/ActivationsOffersServicesCountriesFiltersExample"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/OfferNotFoundResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsResponse"
          },
          "500": {
            "$ref": "#/components/responses/ServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/emails": {
      "get": {
        "tags": [
          "Emails"
        ],
        "summary": "获取有效购物清单",
        "operationId": "7f17119e77aad0c154d2f5e600ef092a",
        "parameters": [
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "parameter": "status",
            "name": "status",
            "in": "query",
            "description": "按状态筛选",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "schema": {
              "properties": {
                "id": {
                  "description": "状态",
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "enum": [
                      3,
                      4,
                      5,
                      6
                    ]
                  }
                }
              },
              "type": "object"
            }
          },
          {
            "$ref": "#/components/parameters/from"
          },
          {
            "$ref": "#/components/parameters/to"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EmailActivation"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "500": {
            "$ref": "#/components/responses/ServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Emails"
        ],
        "summary": "购买通过邮箱的激活",
        "operationId": "22164e5067a27560b8fbf28b2ac1f019",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "site",
                  "domain"
                ],
                "properties": {
                  "site": {
                    "$ref": "#/components/schemas/EmailSite"
                  },
                  "domain": {
                    "$ref": "#/components/schemas/EmailDomain"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/EmailActivationSuccessResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "500": {
            "$ref": "#/components/responses/ServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/emails/batch": {
      "post": {
        "tags": [
          "Emails"
        ],
        "summary": "批量购买通过邮箱方式激活",
        "operationId": "7892a59d83e6e38d154854fe1f1b065f",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "site",
                  "domain",
                  "count"
                ],
                "properties": {
                  "site": {
                    "$ref": "#/components/schemas/EmailSite"
                  },
                  "domain": {
                    "$ref": "#/components/schemas/EmailDomain"
                  },
                  "count": {
                    "description": "所需激活的邮箱数量（1 至 10）",
                    "type": "integer",
                    "maximum": 10,
                    "minimum": 1,
                    "example": 5
                  },
                  "service": {
                    "$ref": "#/components/schemas/ServiceId"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/EmailActivationBatchSuccessResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "500": {
            "$ref": "#/components/responses/ServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/emails/{emailId}": {
      "get": {
        "tags": [
          "Emails"
        ],
        "summary": "检查通过邮箱激活的状态",
        "operationId": "c57ebd15edbfa8625b8a60984b76e3c6",
        "parameters": [
          {
            "$ref": "#/components/parameters/emailId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/EmailActivationSuccessResponse"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "500": {
            "$ref": "#/components/responses/ServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Emails"
        ],
        "summary": "取消购买通过邮箱的激活",
        "operationId": "20dae8daa691db1282f0d1d268dbac44",
        "parameters": [
          {
            "$ref": "#/components/parameters/emailId"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/ServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/emails/{emailId}/reorder": {
      "post": {
        "tags": [
          "Emails"
        ],
        "summary": "重新购买通过邮箱的激活",
        "operationId": "bb0d53e0557982f130c1540ed663e831",
        "parameters": [
          {
            "$ref": "#/components/parameters/emailId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/EmailActivationSuccessResponse"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "500": {
            "$ref": "#/components/responses/ServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/emails/domains": {
      "get": {
        "tags": [
          "Emails"
        ],
        "summary": "获取可用域名列表",
        "operationId": "59f271906bdbc81b6b2cdd4213b01775",
        "parameters": [
          {
            "name": "site",
            "in": "query",
            "description": "购买的激活适用于哪个网站",
            "schema": {
              "type": "string",
              "example": "telegram.com"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "name": {
                            "description": "域名名称",
                            "type": "string"
                          },
                          "cost": {
                            "description": "价格",
                            "type": "number",
                            "format": "float"
                          },
                          "count": {
                            "description": "可买邮箱的数量",
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityResponse"
          },
          "500": {
            "$ref": "#/components/responses/ServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "?action=getBalance": {
      "get": {
        "tags": [
          "SMS-Activate"
        ],
        "summary": "请求账户余额",
        "description": "以“ACCESS_BALANCE:<amount>”格式返回当前余额",
        "operationId": "getBalance",
        "responses": {
          "200": {
            "description": "余额请求结果",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "successfulBalanceExample": {
                    "$ref": "#/components/examples/successfulBalanceExample"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/methodNotFoundResponse"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntityResponse"
          },
          "500": {
            "$ref": "#/components/responses/SAServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ],
        "servers": [
          {
            "url": "https://hero-sms.com/stubs/handler_api.php",
            "description": "SMS-Activate API 兼容服务器"
          }
        ]
      }
    },
    "?action=getNumber": {
      "get": {
        "tags": [
          "SMS-Activate"
        ],
        "summary": "索取号码",
        "description": "请求指定服务和国家/地区的电话号码。返回类似“ACCESS_NUMBER:<activation_id>:<number>”的字符串",
        "operationId": "getNumber",
        "parameters": [
          {
            "$ref": "#/components/parameters/qpSARequiredService"
          },
          {
            "$ref": "#/components/parameters/qpSARequiredCountry"
          },
          {
            "$ref": "#/components/parameters/qpSAOptionalOperator"
          },
          {
            "$ref": "#/components/parameters/qpSAOptionalMaxPrice"
          },
          {
            "$ref": "#/components/parameters/qpSAOptionalFixedPrice"
          },
          {
            "$ref": "#/components/parameters/qpSAOptionalRef"
          },
          {
            "$ref": "#/components/parameters/qpSAOptionalPhoneException"
          }
        ],
        "responses": {
          "200": {
            "description": "号码请求结果",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "successfulNumberExample": {
                    "$ref": "#/components/examples/successfulNumberExample"
                  },
                  "numbersNotFoundExample": {
                    "$ref": "#/components/examples/numbersNotFoundExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/getNumberBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          },
          "402": {
            "$ref": "#/components/responses/paymentRequiredResponse"
          },
          "403": {
            "$ref": "#/components/responses/forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/methodNotFoundResponse"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntityResponse"
          },
          "500": {
            "$ref": "#/components/responses/SAServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ],
        "servers": [
          {
            "url": "https://hero-sms.com/stubs/handler_api.php",
            "description": "SMS-Activate API 兼容服务器"
          }
        ]
      }
    },
    "?action=getNumberV2": {
      "get": {
        "tags": [
          "SMS-Activate"
        ],
        "summary": "请求编号V2",
        "description": "与 getNumber 类似，但返回更多激活信息（JSON 对象）",
        "operationId": "getNumberV2",
        "parameters": [
          {
            "$ref": "#/components/parameters/qpSARequiredService"
          },
          {
            "$ref": "#/components/parameters/qpSARequiredCountry"
          },
          {
            "$ref": "#/components/parameters/qpSAOptionalOperator"
          },
          {
            "$ref": "#/components/parameters/qpSAOptionalMaxPrice"
          },
          {
            "$ref": "#/components/parameters/qpSAOptionalFixedPrice"
          },
          {
            "$ref": "#/components/parameters/qpSAOptionalRef"
          },
          {
            "$ref": "#/components/parameters/qpSAOptionalPhoneException"
          }
        ],
        "responses": {
          "200": {
            "description": "号码请求结果（V2）",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "successfulNumberv2Example": {
                    "$ref": "#/components/examples/successfulNumberv2Example"
                  },
                  "numbersNotFoundExample": {
                    "$ref": "#/components/examples/numbersNotFoundExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/getNumberBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          },
          "402": {
            "$ref": "#/components/responses/paymentRequiredResponse"
          },
          "403": {
            "$ref": "#/components/responses/forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/methodNotFoundResponse"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntityResponse"
          },
          "500": {
            "$ref": "#/components/responses/SAServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ],
        "servers": [
          {
            "url": "https://hero-sms.com/stubs/handler_api.php",
            "description": "SMS-Activate API 兼容服务器"
          }
        ]
      }
    },
    "?action=setStatus": {
      "get": {
        "tags": [
          "SMS-Activate"
        ],
        "summary": "更改激活状态",
        "description": "激活生命周期管理。\n可能的状态：\n- 3 — 请求重新发送短信\n- 6 — 完成激活（收到并确认代码）\n- 8 — 取消激活（返还资金）",
        "operationId": "setStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/qpSARequiredActivationID"
          },
          {
            "$ref": "#/components/parameters/qpSARequiredActivationStatus"
          }
        ],
        "responses": {
          "200": {
            "description": "状态变更结果",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "successfulRetryGetExample": {
                    "$ref": "#/components/examples/successfulRetryGetExample"
                  },
                  "successfulAccessActivationExample": {
                    "$ref": "#/components/examples/successfulAccessActivationExample"
                  },
                  "successfulAccessCancelExample": {
                    "$ref": "#/components/examples/successfulAccessCancelExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/activationNotFoundResponse"
          },
          "409": {
            "$ref": "#/components/responses/activationCancelConflictResponse"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntityResponse"
          },
          "500": {
            "$ref": "#/components/responses/SAServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ],
        "servers": [
          {
            "url": "https://hero-sms.com/stubs/handler_api.php",
            "description": "SMS-Activate API 兼容服务器"
          }
        ]
      }
    },
    "?action=getStatus": {
      "get": {
        "tags": [
          "SMS-Activate"
        ],
        "summary": "获取激活状态",
        "description": "以文本形式返回当前激活状态（STATUS_WAIT_CODE、STATUS_OK 等）+ 代码（如果有）",
        "operationId": "getStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/qpSARequiredActivationID"
          }
        ],
        "responses": {
          "200": {
            "description": "当前激活状态",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "successfulWaitCodeExample": {
                    "$ref": "#/components/examples/successfulWaitCodeExample"
                  },
                  "successfulWaitRetryExample": {
                    "$ref": "#/components/examples/successfulWaitRetryExample"
                  },
                  "successfulWaitResendExample": {
                    "$ref": "#/components/examples/successfulWaitResendExample"
                  },
                  "successfulCancelExample": {
                    "$ref": "#/components/examples/successfulCancelExample"
                  },
                  "successfulOKExample": {
                    "$ref": "#/components/examples/successfulOKExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          },
          "402": {
            "$ref": "#/components/responses/paymentRequiredResponse"
          },
          "403": {
            "$ref": "#/components/responses/forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/activationNotFoundResponse"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntityResponse"
          },
          "500": {
            "$ref": "#/components/responses/SAServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ],
        "servers": [
          {
            "url": "https://hero-sms.com/stubs/handler_api.php",
            "description": "SMS-Activate API 兼容服务器"
          }
        ]
      }
    },
    "?action=getStatusV2": {
      "get": {
        "tags": [
          "SMS-Activate"
        ],
        "summary": "获取V2激活状态",
        "description": "以结构化形式 (JSON) 返回激活状态",
        "operationId": "getStatusV2",
        "parameters": [
          {
            "$ref": "#/components/parameters/qpSARequiredActivationID"
          }
        ],
        "responses": {
          "200": {
            "description": "当前激活状态（V2）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivationStatusV2"
                },
                "examples": {
                  "correctActivationStatusExample": {
                    "$ref": "#/components/examples/successfulActivationV2Example"
                  },
                  "successfulCancelExample": {
                    "summary": "激活已取消",
                    "value": "STATUS_CANCEL"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          },
          "402": {
            "$ref": "#/components/responses/paymentRequiredResponse"
          },
          "403": {
            "$ref": "#/components/responses/forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/activationNotFoundResponse"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntityResponse"
          },
          "500": {
            "$ref": "#/components/responses/SAServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ],
        "servers": [
          {
            "url": "https://hero-sms.com/stubs/handler_api.php",
            "description": "SMS-Activate API 兼容服务器"
          }
        ]
      }
    },
    "?action=getActiveActivations": {
      "get": {
        "tags": [
          "SMS-Activate"
        ],
        "summary": "获取活动激活列表",
        "description": "返回活动激活的列表",
        "operationId": "getActiveActivations",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "偏移量（默认 0）",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "录音限制（最多 100 条）",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "接收主动激活的结果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveActivations"
                },
                "examples": {
                  "activationsSuccessfulExample": {
                    "$ref": "#/components/examples/activationsSuccessfulExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          },
          "402": {
            "$ref": "#/components/responses/paymentRequiredResponse"
          },
          "403": {
            "$ref": "#/components/responses/forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/methodNotFoundResponse"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntityResponse"
          },
          "500": {
            "$ref": "#/components/responses/SAServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ],
        "servers": [
          {
            "url": "https://hero-sms.com/stubs/handler_api.php",
            "description": "SMS-Activate API 兼容服务器"
          }
        ]
      }
    },
    "?action=getHistory": {
      "get": {
        "tags": [
          "SMS-Activate"
        ],
        "summary": "获取激活历史记录",
        "description": "返回激活历史记录",
        "operationId": "getHistory",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "周期开始（Unix 时间戳）",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "周期结束（Unix 时间戳）",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "偏移量（默认 0）",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "录音限制（最多 100 条）",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "接收激活历史记录的结果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivationsHistory"
                },
                "examples": {
                  "successfulActivationsHistoryExample": {
                    "$ref": "#/components/examples/successfulActivationsHistoryExample"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/methodNotFoundResponse"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntityResponse"
          },
          "500": {
            "$ref": "#/components/responses/SAServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ],
        "servers": [
          {
            "url": "https://hero-sms.com/stubs/handler_api.php",
            "description": "SMS-Activate API 兼容服务器"
          }
        ]
      }
    },
    "?action=reactivate": {
      "post": {
        "tags": [
          "SMS-Activate"
        ],
        "summary": "请求重新激活号码",
        "description": "请求已成功使用的电话号码",
        "operationId": "reactivate",
        "parameters": [
          {
            "$ref": "#/components/parameters/qpSARequiredActivationID"
          }
        ],
        "responses": {
          "200": {
            "description": "号码重新激活结果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/successfulNumberv2Response"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          },
          "402": {
            "$ref": "#/components/responses/paymentRequiredResponse"
          },
          "403": {
            "$ref": "#/components/responses/reactivationForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/activationNotFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/SAServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ],
        "servers": [
          {
            "url": "https://hero-sms.com/stubs/handler_api.php",
            "description": "SMS-Activate API 兼容服务器"
          }
        ]
      }
    },
    "?action=reactivateOptions": {
      "get": {
        "tags": [
          "SMS-Activate"
        ],
        "summary": "请求号码重新激活费用",
        "description": "正在请求号码重新激活费用",
        "operationId": "reactivateOptions",
        "parameters": [
          {
            "$ref": "#/components/parameters/qpSARequiredActivationID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ActivationExtendOptionsSuccessResponse"
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/reactivationForbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/activationNotFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/SAServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ],
        "servers": [
          {
            "url": "https://hero-sms.com/stubs/handler_api.php",
            "description": "SMS-Activate API 兼容服务器"
          }
        ]
      }
    },
    "?action=prolong": {
      "post": {
        "tags": [
          "SMS-Activate"
        ],
        "summary": "延长号码",
        "description": "延长电话号码会话时间。仅适用于“租赁”类型的激活。",
        "operationId": "prolong",
        "parameters": [
          {
            "$ref": "#/components/parameters/qpSARequiredActivationID"
          },
          {
            "$ref": "#/components/parameters/qpSARequiredDuration"
          }
        ],
        "responses": {
          "200": {
            "description": "号码延长结果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/successfulNumberv2Response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/prolongationBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          },
          "402": {
            "$ref": "#/components/responses/paymentRequiredResponse"
          },
          "404": {
            "$ref": "#/components/responses/activationNotFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/SAServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ],
        "servers": [
          {
            "url": "https://hero-sms.com/stubs/handler_api.php",
            "description": "SMS-Activate API 兼容服务器"
          }
        ]
      }
    },
    "?action=prolongOptions": {
      "get": {
        "tags": [
          "SMS-Activate"
        ],
        "summary": "获取号码延长费用",
        "description": "请求号码延长费用",
        "operationId": "prolongOptions",
        "parameters": [
          {
            "$ref": "#/components/parameters/qpSARequiredActivationID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ActivationExtendOptionsSuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/prolongationInfoBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/activationNotFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/SAServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ],
        "servers": [
          {
            "url": "https://hero-sms.com/stubs/handler_api.php",
            "description": "SMS-Activate API 兼容服务器"
          }
        ]
      }
    },
    "?action=prolongHistory": {
      "get": {
        "tags": [
          "SMS-Activate"
        ],
        "summary": "获取号码延长历史",
        "description": "请求号码延长历史",
        "operationId": "prolongHistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/qpSARequiredActivationID"
          }
        ],
        "responses": {
          "200": {
            "description": "号码延长历史",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/prolongationHistoryListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/prolongationInfoBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          },
          "404": {
            "$ref": "#/components/responses/activationNotFoundResponse"
          },
          "500": {
            "$ref": "#/components/responses/SAServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ],
        "servers": [
          {
            "url": "https://hero-sms.com/stubs/handler_api.php",
            "description": "SMS-Activate API 兼容服务器"
          }
        ]
      }
    },
    "?action=getCountries": {
      "get": {
        "tags": [
          "SMS-Activate"
        ],
        "summary": "请求国家列表",
        "description": "返回国家列表",
        "operationId": "getCountries",
        "responses": {
          "200": {
            "description": "请求国家名单的结果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Country"
                },
                "examples": {
                  "successGetCountriesExample": {
                    "$ref": "#/components/examples/successGetCountriesExample"
                  },
                  "missingKeyExample": {
                    "$ref": "#/components/examples/missingKeyExample"
                  },
                  "incorrectKeyExample": {
                    "$ref": "#/components/examples/incorrectKeyExample"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ],
        "servers": [
          {
            "url": "https://hero-sms.com/stubs/handler_api.php",
            "description": "SMS-Activate API 兼容服务器"
          }
        ]
      }
    },
    "?action=getServicesList": {
      "get": {
        "tags": [
          "SMS-Activate"
        ],
        "summary": "索取服务清单",
        "description": "返回服务列表",
        "operationId": "getServicesList",
        "parameters": [
          {
            "$ref": "#/components/parameters/qpSAOptionalCountry"
          },
          {
            "$ref": "#/components/parameters/qpSAOptionalLang"
          }
        ],
        "responses": {
          "200": {
            "description": "服务列表请求结果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Service"
                },
                "examples": {
                  "successGetServicesListExample": {
                    "$ref": "#/components/examples/successGetServicesListExample"
                  },
                  "missingKeyExample": {
                    "$ref": "#/components/examples/missingKeyExample"
                  },
                  "incorrectKeyExample": {
                    "$ref": "#/components/examples/incorrectKeyExample"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ],
        "servers": [
          {
            "url": "https://hero-sms.com/stubs/handler_api.php",
            "description": "SMS-Activate API 兼容服务器"
          }
        ]
      }
    },
    "?action=getOperators": {
      "get": {
        "tags": [
          "SMS-Activate"
        ],
        "summary": "请求可用的操作员",
        "description": "返回运算符列表",
        "operationId": "getOperators",
        "parameters": [
          {
            "$ref": "#/components/parameters/qpSAOptionalCountry"
          }
        ],
        "responses": {
          "200": {
            "description": "请求操作员列表的结果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operators"
                },
                "examples": {
                  "successfulGetOperatorsExample": {
                    "$ref": "#/components/examples/successfulGetOperatorsExample"
                  },
                  "operatorsNotFoundExample": {
                    "$ref": "#/components/examples/operatorsNotFoundExample"
                  },
                  "sqlServerErrorExample": {
                    "$ref": "#/components/examples/sqlServerErrorExample"
                  },
                  "missingKeyExample": {
                    "$ref": "#/components/examples/missingKeyExample"
                  },
                  "incorrectKeyExample": {
                    "$ref": "#/components/examples/incorrectKeyExample"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ],
        "servers": [
          {
            "url": "https://hero-sms.com/stubs/handler_api.php",
            "description": "SMS-Activate API 兼容服务器"
          }
        ]
      }
    },
    "?action=getPrices": {
      "get": {
        "tags": [
          "SMS-Activate"
        ],
        "summary": "获取当前价格",
        "description": "按国家和服务返回价格和可用客房数量",
        "operationId": "getPrices",
        "parameters": [
          {
            "$ref": "#/components/parameters/qpSAOptionalService"
          },
          {
            "$ref": "#/components/parameters/qpSAOptionalCountry"
          }
        ],
        "responses": {
          "200": {
            "description": "获取当前价格的结果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PricesByCountry"
                },
                "examples": {
                  "successGetPrices": {
                    "$ref": "#/components/examples/successGetPrices"
                  },
                  "incorrectServiceExample": {
                    "$ref": "#/components/examples/incorrectServiceExample"
                  },
                  "incorrectCountryExample": {
                    "$ref": "#/components/examples/incorrectCountryExample"
                  },
                  "badActionExample": {
                    "$ref": "#/components/examples/badActionExample"
                  },
                  "missingKeyExample": {
                    "$ref": "#/components/examples/missingKeyExample"
                  },
                  "incorrectKeyExample": {
                    "$ref": "#/components/examples/incorrectKeyExample"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ],
        "servers": [
          {
            "url": "https://hero-sms.com/stubs/handler_api.php",
            "description": "SMS-Activate API 兼容服务器"
          }
        ]
      }
    },
    "?action=getTopCountriesByService": {
      "get": {
        "tags": [
          "SMS-Activate"
        ],
        "summary": "按服务获取排名靠前的国家/地区",
        "description": "此方法已弃用。请使用 GET activations/offers 方法",
        "operationId": "getTopCountriesByService",
        "parameters": [
          {
            "$ref": "#/components/parameters/qpSAOptionalService"
          },
          {
            "$ref": "#/components/parameters/qpSAOptionalFreePrice"
          }
        ],
        "responses": {
          "200": {
            "description": "按服务获取排名靠前国家的结果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopCountriesByService"
                },
                "examples": {
                  "topCountriesAllServicesExample": {
                    "$ref": "#/components/examples/topCountriesAllServicesExample"
                  },
                  "topCountriesOneServiceExample": {
                    "$ref": "#/components/examples/topCountriesOneServiceExample"
                  },
                  "missingKeyExample": {
                    "$ref": "#/components/examples/missingKeyExample"
                  },
                  "incorrectKeyExample": {
                    "$ref": "#/components/examples/incorrectKeyExample"
                  }
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "apiKeyQuery": []
          }
        ],
        "servers": [
          {
            "url": "https://hero-sms.com/stubs/handler_api.php",
            "description": "SMS-Activate API 兼容服务器"
          }
        ]
      }
    },
    "?action=getTopCountriesByServiceRank": {
      "get": {
        "tags": [
          "SMS-Activate"
        ],
        "summary": "根据用户排名获取按服务排名靠前的国家/地区",
        "description": "此方法已弃用。请使用 GET activations/offers 方法",
        "operationId": "getTopCountriesByServiceRank",
        "parameters": [
          {
            "$ref": "#/components/parameters/qpSAOptionalService"
          },
          {
            "$ref": "#/components/parameters/qpSAOptionalFreePrice"
          }
        ],
        "responses": {
          "200": {
            "description": "按服务获取排名靠前国家的结果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopCountriesByService"
                },
                "examples": {
                  "topCountriesAllServicesExample": {
                    "$ref": "#/components/examples/topCountriesAllServicesExample"
                  },
                  "topCountriesOneServiceExample": {
                    "$ref": "#/components/examples/topCountriesOneServiceExample"
                  },
                  "missingKeyExample": {
                    "$ref": "#/components/examples/missingKeyExample"
                  },
                  "incorrectKeyExample": {
                    "$ref": "#/components/examples/incorrectKeyExample"
                  }
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "apiKeyQuery": []
          }
        ],
        "servers": [
          {
            "url": "https://hero-sms.com/stubs/handler_api.php",
            "description": "SMS-Activate API 兼容服务器"
          }
        ]
      }
    },
    "?action=serviceCountRent": {
      "get": {
        "tags": [
          "SMS-Activate"
        ],
        "summary": "获取按服务分类的最新租赁价格和数量",
        "description": "返回所选服务租赁的可用号码价格和数量",
        "operationId": "serviceCountRent",
        "parameters": [
          {
            "$ref": "#/components/parameters/qpSARequiredService"
          },
          {
            "$ref": "#/components/parameters/qpSAOptionalCountry"
          },
          {
            "$ref": "#/components/parameters/qpSAOptionalOperator"
          },
          {
            "$ref": "#/components/parameters/qpSAOptionalCurrency"
          }
        ],
        "responses": {
          "200": {
            "description": "获取当前价格和租赁数量的结果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RentCountByService"
                },
                "examples": {
                  "successServiceCountRent": {
                    "$ref": "#/components/examples/successServiceCountRent"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/rentParamsBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/SAServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ],
        "servers": [
          {
            "url": "https://hero-sms.com/stubs/handler_api.php",
            "description": "SMS-Activate API 兼容服务器"
          }
        ]
      }
    },
    "?action=getRentServicesAndCountries": {
      "get": {
        "tags": [
          "SMS-Activate"
        ],
        "summary": "获取各国当前的租赁价格和数量",
        "description": "退款价格、各服务可用号码数量以及运营商列表",
        "operationId": "getRentServicesAndCountries",
        "parameters": [
          {
            "$ref": "#/components/parameters/qpSARequiredCountry"
          },
          {
            "$ref": "#/components/parameters/qpSARequiredDuration"
          }
        ],
        "responses": {
          "200": {
            "description": "结果成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/getRentServicesAndCountries"
                },
                "examples": {
                  "successGetRentServicesAndCountriesExample": {
                    "$ref": "#/components/examples/successGetRentServicesAndCountriesExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/rentParamsBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/unprocessableEntityResponse"
          },
          "500": {
            "$ref": "#/components/responses/SAServerErrorResponse"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "?action=getRentNumber": {
      "get": {
        "tags": [
          "SMS-Activate"
        ],
        "summary": "请求租赁号码",
        "description": "请求指定服务和国家的电话号码，期限为指定时间。",
        "operationId": "getRentNumber",
        "parameters": [
          {
            "$ref": "#/components/parameters/qpSARequiredService"
          },
          {
            "$ref": "#/components/parameters/qpSARequiredCountry"
          },
          {
            "$ref": "#/components/parameters/qpSARequiredDuration"
          },
          {
            "$ref": "#/components/parameters/qpSAOptionalOperator"
          },
          {
            "$ref": "#/components/parameters/qpSAOptionalCurrency"
          },
          {
            "$ref": "#/components/parameters/qpSAOptionalRef"
          }
        ],
        "responses": {
          "200": {
            "description": "号码租赁请求结果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/successfulNumberv2Response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/rentParamsBadRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          },
          "402": {
            "$ref": "#/components/responses/paymentRequiredResponse"
          },
          "403": {
            "$ref": "#/components/responses/forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/noNumbersResponse"
          },
          "500": {
            "$ref": "#/components/responses/SAServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ],
        "servers": [
          {
            "url": "https://hero-sms.com/stubs/handler_api.php",
            "description": "SMS-Activate API 兼容服务器"
          }
        ]
      }
    },
    "?action=getAllSms": {
      "get": {
        "tags": [
          "SMS-Activate"
        ],
        "summary": "获取指定激活的所有短信",
        "description": "请求指定激活的所有短信。",
        "operationId": "getAllSms",
        "parameters": [
          {
            "$ref": "#/components/parameters/qpSARequiredActivationID"
          },
          {
            "$ref": "#/components/parameters/qpSAOptionalSize"
          },
          {
            "$ref": "#/components/parameters/qpSAOptionalPage"
          }
        ],
        "responses": {
          "200": {
            "description": "所有 OTP 请求的结果",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "data",
                    "meta"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OtpListResponse"
                    },
                    "meta": {
                      "schema": "ResponseMeta",
                      "description": "响应元数据",
                      "properties": {
                        "total": {
                          "description": "记录总数",
                          "type": "integer",
                          "example": 42
                        },
                        "service": {
                          "description": "服务代码",
                          "type": "string",
                          "example": "full"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/activationNotFoundResponse"
          },
          "409": {
            "$ref": "#/components/responses/activationNotActiveResponse"
          },
          "500": {
            "$ref": "#/components/responses/SAServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ],
        "servers": [
          {
            "url": "https://hero-sms.com/stubs/handler_api.php",
            "description": "SMS-Activate API 兼容服务器"
          }
        ]
      }
    },
    "?action=finishActivation": {
      "get": {
        "tags": [
          "SMS-Activate"
        ],
        "summary": "完成激活工作",
        "operationId": "finishActivation",
        "parameters": [
          {
            "$ref": "#/components/parameters/qpSARequiredActivationID"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/activationNotFoundResponse"
          },
          "409": {
            "$ref": "#/components/responses/activationFinishConflictResponse"
          },
          "500": {
            "$ref": "#/components/responses/SAServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ],
        "servers": [
          {
            "url": "https://hero-sms.com/stubs/handler_api.php",
            "description": "SMS-Activate API 兼容服务器"
          }
        ]
      }
    },
    "?action=cancelActivation": {
      "get": {
        "tags": [
          "SMS-Activate"
        ],
        "summary": "取消激活购买",
        "operationId": "cancelActivation",
        "parameters": [
          {
            "$ref": "#/components/parameters/qpSARequiredActivationID"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/badRequestResponse"
          },
          "401": {
            "$ref": "#/components/responses/unauthorizedResponse"
          },
          "403": {
            "$ref": "#/components/responses/forbiddenResponse"
          },
          "404": {
            "$ref": "#/components/responses/activationNotFoundResponse"
          },
          "409": {
            "$ref": "#/components/responses/activationCancelConflictResponse"
          },
          "500": {
            "$ref": "#/components/responses/SAServerErrorResponse"
          }
        },
        "security": [
          {
            "apiKeyQuery": []
          }
        ],
        "servers": [
          {
            "url": "https://hero-sms.com/stubs/handler_api.php",
            "description": "SMS-Activate API 兼容服务器"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ActivationsOffersSchema": {
        "additionalProperties": {
          "title": "服务",
          "type": "object",
          "additionalProperties": {
            "title": "countryId",
            "properties": {
              "prices": {
                "properties": {
                  "default": {
                    "type": "number",
                    "format": "float",
                    "example": 1.1
                  },
                  "retail": {
                    "type": "number",
                    "format": "float",
                    "example": 1.1
                  },
                  "min": {
                    "$ref": "#/components/schemas/MinPrice"
                  }
                },
                "type": "object"
              },
              "counts": {
                "properties": {
                  "total": {
                    "type": "integer",
                    "example": 101
                  },
                  "physical": {
                    "type": "integer",
                    "example": 51
                  },
                  "defaultPrice": {
                    "type": "integer",
                    "example": 50
                  }
                },
                "type": "object"
              },
              "map": {
                "type": "object",
                "additionalProperties": {
                  "title": "price",
                  "type": "int"
                }
              }
            },
            "type": "object"
          }
        }
      },
      "EmailActivationCreateDTO": {
        "required": [
          "userId",
          "site",
          "email",
          "status",
          "cost",
          "domain",
          "rank"
        ],
        "properties": {
          "userId": {
            "type": "integer",
            "example": 123
          },
          "site": {
            "type": "string",
            "example": "example.com"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "test@example.com"
          },
          "status": {
            "type": "integer",
            "example": 1
          },
          "cost": {
            "type": "number",
            "format": "float",
            "example": 0.25
          },
          "domain": {
            "type": "string",
            "example": "gmail.com"
          }
        },
        "type": "object"
      },
      "EmailActivation": {
        "description": "通过邮箱激活",
        "required": [
          "id",
          "status",
          "cost",
          "currency",
          "date"
        ],
        "properties": {
          "id": {
            "description": "ID",
            "type": "integer"
          },
          "site": {
            "description": "购买的激活适用于哪个网站",
            "type": "string"
          },
          "email": {
            "description": "邮箱",
            "type": "string"
          },
          "status": {
            "description": "激活状态",
            "type": "string",
            "enum": [
              "WAIT",
              "CANCEL",
              "SUCCESS"
            ]
          },
          "value": {
            "description": "验证码",
            "type": "string"
          },
          "cost": {
            "description": "价格",
            "type": "number",
            "format": "float"
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "date": {
            "$ref": "#/components/schemas/dateISO8601",
            "description": "创建日期"
          },
          "message": {
            "description": "邮件全部文本",
            "type": "string"
          }
        },
        "type": "object"
      },
      "EmailActivationFavorite": {
        "description": "通过邮件选择激活",
        "required": [
          "id",
          "status",
          "cost",
          "currency",
          "date"
        ],
        "properties": {
          "id": {
            "description": "ID",
            "type": "integer"
          },
          "site": {
            "description": "购买的激活适用于哪个网站",
            "type": "string"
          },
          "domain": {
            "description": "邮件域",
            "type": "string"
          },
          "service": {
            "$ref": "#/components/schemas/ServiceId"
          }
        },
        "type": "object"
      },
      "EmailSite": {
        "description": "购买的激活适用于哪个网站",
        "type": "string",
        "example": "telegram.com"
      },
      "EmailDomain": {
        "description": "邮箱域名",
        "type": "string",
        "example": "gmail.com"
      },
      "CountryId": {
        "description": "国家 ID",
        "type": "integer",
        "maximum": 999,
        "minimum": 0,
        "example": 2
      },
      "CountryName": {
        "description": "根据所选语言的国家/地区名称",
        "type": "string",
        "examples": {
          "Казахстан": {
            "summary": null
          },
          "Kazakhstan": {
            "summary": null
          },
          "哈萨克斯坦": {
            "summary": null
          }
        }
      },
      "ServiceId": {
        "description": "服务代码",
        "type": "string",
        "maxLength": 4,
        "minLength": 2,
        "example": "tg"
      },
      "OperatorId": {
        "description": "操作员代码",
        "type": "string",
        "default": "any",
        "example": "axis"
      },
      "MaxPrice": {
        "description": "最大激活成本",
        "type": "number",
        "format": "float",
        "example": 0.4321
      },
      "MinPrice": {
        "description": "最低的个人价格",
        "type": "float",
        "example": 0.4321
      },
      "ActivationId": {
        "description": "激活 ID",
        "type": "string",
        "example": "123456"
      },
      "Currency": {
        "description": "ISO 货币代码",
        "type": "integer",
        "default": 840,
        "enum": [
          840,
          978,
          156
        ],
        "example": 840
      },
      "SMSText": {
        "description": "短信",
        "type": [
          "string",
          "null"
        ],
        "example": "Your code is 12345"
      },
      "SMSCode": {
        "description": "短信代码",
        "type": [
          "string",
          "null"
        ],
        "example": "12345"
      },
      "dateISO8601": {
        "description": "ISO 8601 格式的日期",
        "type": "string",
        "format": "date-time",
        "example": "2025-12-16T10:30:00.000000Z"
      },
      "dateRFC3339": {
        "description": "RFC3339 格式日期",
        "type": "string",
        "format": "date-time",
        "example": "2026-02-19T10:37:46+00:00"
      },
      "ActivationStatusV2": {
        "properties": {
          "verificationType": {
            "type": "integer",
            "example": 2
          },
          "sms": {
            "properties": {
              "dateTime": {
                "type": "string",
                "format": "date-time",
                "example": "0000-00-00 00:00:00"
              },
              "code": {
                "type": "string",
                "example": "code"
              },
              "text": {
                "type": "string",
                "example": "sms text"
              }
            },
            "type": "object"
          },
          "call": {
            "properties": {
              "from": {
                "type": "string",
                "example": "phone"
              },
              "text": {
                "type": "string",
                "example": "voice text"
              },
              "code": {
                "type": "string",
                "example": "12345"
              },
              "dateTime": {
                "type": "string",
                "format": "date-time",
                "example": "0000-00-00 00:00:00"
              },
              "url": {
                "type": "string",
                "example": "voice file url"
              },
              "parsingCount": {
                "type": "integer",
                "example": 1
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "ActiveActivation": {
        "properties": {
          "activationId": {
            "$ref": "#/components/schemas/ActivationId"
          },
          "serviceCode": {
            "$ref": "#/components/schemas/ServiceId"
          },
          "phoneNumber": {
            "type": "string",
            "example": "79********1"
          },
          "activationCost": {
            "type": "number",
            "example": 12.5
          },
          "activationStatus": {
            "type": "string",
            "example": "4"
          },
          "smsCode": {
            "$ref": "#/components/schemas/SMSCode"
          },
          "smsText": {
            "$ref": "#/components/schemas/SMSText"
          },
          "activationTime": {
            "$ref": "#/components/schemas/dateISO8601"
          },
          "discount": {
            "type": "string",
            "example": "0.00"
          },
          "repeated": {
            "type": "string",
            "example": "0"
          },
          "countryCode": {
            "$ref": "#/components/schemas/CountryId"
          },
          "countryName": {
            "type": "string",
            "example": "Kazakhstan"
          },
          "canGetAnotherSms": {
            "type": "string",
            "example": "1"
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          }
        },
        "type": "object"
      },
      "ActiveActivations": {
        "properties": {
          "status": {
            "type": "string"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActiveActivation"
            },
            "minItems": 0
          }
        },
        "type": "object"
      },
      "ActivationsHistory": {
        "type": "array",
        "items": {
          "properties": {
            "id": {
              "type": "string",
              "example": "635468024"
            },
            "date": {
              "type": "string",
              "format": "date-time",
              "example": "0000-00-00 00:00:00"
            },
            "phone": {
              "type": "string",
              "example": "7*********0"
            },
            "sms": {
              "type": "string",
              "example": "Your code is ****"
            },
            "cost": {
              "type": "number",
              "example": 0
            },
            "status": {
              "type": "string",
              "example": "4"
            },
            "currency": {
              "$ref": "#/components/schemas/Currency"
            }
          },
          "type": "object"
        }
      },
      "TopCountriesOneService": {
        "properties": {
          "physicalTotalCount": {
            "type": "integer",
            "example": 9405
          },
          "physicalCountForDefaultPrice": {
            "type": "integer",
            "example": 4066
          },
          "physicalPriceMap": {
            "type": "object",
            "additionalProperties": {
              "type": "number",
              "example": 0.018
            }
          },
          "retail_price": {
            "type": "number",
            "example": 0.2
          },
          "country": {
            "type": "integer",
            "example": 6
          },
          "price": {
            "type": "number",
            "example": 0.045
          },
          "count": {
            "type": "integer",
            "example": 4528
          }
        },
        "type": "object"
      },
      "TopCountriesAllServices": {
        "type": "object",
        "additionalProperties": {
          "$ref": "#/components/schemas/TopCountriesOneService"
        }
      },
      "TopCountriesByService": {
        "type": "object",
        "additionalProperties": {
          "oneOf": [
            {
              "$ref": "#/components/schemas/TopCountriesAllServices"
            },
            {
              "$ref": "#/components/schemas/TopCountriesOneService"
            }
          ]
        }
      },
      "PricesByCountry": {
        "type": "object",
        "additionalProperties": {
          "type": "object",
          "additionalProperties": {
            "properties": {
              "cost": {
                "type": "number",
                "example": 0.5
              },
              "count": {
                "type": "integer",
                "example": 10
              },
              "physicalCount": {
                "type": "integer",
                "example": 10
              }
            },
            "type": "object"
          }
        }
      },
      "RentCountByService": {
        "type": "object",
        "additionalProperties": {
          "description": "国家（键 — 数字标识符）",
          "type": "object",
          "pattern": "^[0-9]+$",
          "additionalProperties": {
            "description": "持续时间（键 - 数字标识符）",
            "required": [
              "count",
              "price"
            ],
            "properties": {
              "price": {
                "description": "租金费用",
                "type": "number",
                "example": 0.5432
              },
              "count": {
                "description": "可用房间数量",
                "type": "integer",
                "example": 10
              }
            },
            "type": "object",
            "pattern": "^[0-9]+$"
          }
        }
      },
      "getRentServicesAndCountries": {
        "properties": {
          "operators": {
            "description": "操作员",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "services": {
            "description": "服务",
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "example": "tg",
              "additionalProperties": {
                "properties": {
                  "quantity": {
                    "type": "number",
                    "example": 2
                  },
                  "price": {
                    "type": "integer",
                    "example": 0.6
                  },
                  "retail_price": {
                    "type": "integer",
                    "example": 0.6
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "type": "object"
      },
      "Country": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/CountryId"
          },
          "rus": {
            "description": "俄语的国家名称",
            "type": "string",
            "example": "Казахстан"
          },
          "eng": {
            "description": "英语的国家名称",
            "type": "string",
            "example": "Kazakhstan"
          },
          "chn": {
            "description": "中文的国家名称",
            "type": "string",
            "example": "Kazakhstan"
          },
          "visible": {
            "description": "1 - 可用，0 - 不可用",
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "example": 1
          },
          "retry": {
            "description": "1 - 可用，0 - 不可用",
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "example": 1
          }
        },
        "type": "object"
      },
      "Service": {
        "properties": {
          "code": {
            "description": "服务编号",
            "type": "string",
            "example": "aoo"
          },
          "name": {
            "description": "服务名称",
            "type": "string",
            "example": "Pegasus Airlines"
          }
        },
        "type": "object"
      },
      "Operators": {
        "properties": {
          "status": {
            "type": "string"
          },
          "countryOperators": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "type": "object"
      },
      "AccountBannedInfo": {
        "required": [
          "scope",
          "banned_until",
          "retry_after_seconds"
        ],
        "properties": {
          "scope": {
            "description": "封锁范围：全部或特定位置",
            "type": "string",
            "enum": [
              "global",
              "specific"
            ]
          },
          "banned_until": {
            "description": "禁令结束 Unix 时间戳",
            "type": "integer"
          },
          "retry_after_seconds": {
            "description": "多少秒后可以重试请求",
            "type": "integer"
          },
          "readable_date": {
            "$ref": "#/components/schemas/dateRFC3339"
          }
        },
        "type": "object"
      },
      "successfulNumberv2Response": {
        "properties": {
          "activationId": {
            "$ref": "#/components/schemas/ActivationId"
          },
          "phoneNumber": {
            "description": "不带 + 号的电话号码",
            "type": "string",
            "example": "79991234567"
          },
          "activationCost": {
            "description": "激活费用",
            "type": "number",
            "format": "float",
            "example": 15.5
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "countryCode": {
            "$ref": "#/components/schemas/CountryId"
          },
          "countryPhoneCode": {
            "description": "国家电话代码",
            "type": "number",
            "example": 62
          },
          "canGetAnotherSms": {
            "description": "重新发送短信",
            "type": "boolean",
            "example": true
          },
          "activationTime": {
            "$ref": "#/components/schemas/dateRFC3339",
            "description": "开始日期和时间"
          },
          "activationEndTime": {
            "$ref": "#/components/schemas/dateRFC3339",
            "description": "到期日期和时间"
          },
          "activationOperator": {
            "description": "运营商",
            "type": "string",
            "example": "tele2"
          }
        },
        "type": "object",
        "examples": {
          "successfulNumberv2Example": {
            "$ref": "#/components/examples/successfulNumberv2Example"
          }
        }
      },
      "reactivationPriceResponse": {
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "required": [
              "price"
            ],
            "properties": {
              "price": {
                "type": "number",
                "format": "float",
                "example": 1.4522
              },
              "currency": {
                "$ref": "#/components/schemas/Currency"
              }
            },
            "type": "object"
          }
        },
        "type": "object",
        "examples": {
          "success": {
            "$ref": "#/components/examples/successfulReactivationPriceExample"
          }
        }
      },
      "prolongationPriceListResponse": {
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "description": "租赁延长费用：小时 - 价格",
            "type": "object",
            "additionalProperties": {
              "description": "指定小时数的费用",
              "type": "number",
              "format": "float",
              "example": 0.2134
            }
          }
        },
        "type": "object",
        "examples": {
          "success": {
            "$ref": "#/components/examples/successfulProlongationPriceExample"
          }
        }
      },
      "prolongationHistoryListResponse": {
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "description": "延长记录数组。可能为空。",
            "type": "array",
            "items": {
              "required": [
                "userPrice",
                "hours",
                "createDate",
                "payerType"
              ],
              "properties": {
                "userPrice": {
                  "description": "价格",
                  "type": "number",
                  "format": "float",
                  "example": 0.4621
                },
                "hours": {
                  "description": "租金期限",
                  "type": "number",
                  "example": 2
                },
                "createDate": {
                  "$ref": "#/components/schemas/dateRFC3339",
                  "description": "创建日期"
                },
                "payerType": {
                  "description": "延长类型",
                  "type": "string",
                  "enum": [
                    "client",
                    "partner"
                  ],
                  "example": "client"
                }
              },
              "type": "object"
            },
            "minItems": 0
          }
        },
        "type": "object",
        "examples": {
          "success": {
            "$ref": "#/components/examples/successfulProlongationHistoryExample"
          }
        }
      },
      "OtpListResponse": {
        "description": "消息数组。可能为空。",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/OtpItem"
        },
        "minItems": 0,
        "examples": {
          "successfulOtpListExample": {
            "$ref": "#/components/examples/successfulOtpListExample"
          }
        }
      },
      "OtpItem": {
        "required": [
          "id",
          "phoneFrom",
          "service",
          "date",
          "type"
        ],
        "properties": {
          "id": {
            "description": "识别码",
            "type": "string",
            "example": "3416693217"
          },
          "phoneFrom": {
            "description": "OTP 来源",
            "type": "string",
            "example": "Telegram"
          },
          "code": {
            "$ref": "#/components/schemas/SMSCode"
          },
          "text": {
            "$ref": "#/components/schemas/SMSText"
          },
          "service": {
            "$ref": "#/components/schemas/ServiceId"
          },
          "date": {
            "$ref": "#/components/schemas/dateRFC3339",
            "description": "创建日期"
          },
          "type": {
            "description": "OTP 类型",
            "type": "string",
            "enum": [
              "sms",
              "call"
            ],
            "example": "sms"
          }
        },
        "type": "object"
      },
      "ActivationExtendOptionSchema": {
        "required": [
          "price",
          "duration"
        ],
        "properties": {
          "price": {
            "type": "number",
            "format": "float",
            "example": 1.4324
          },
          "duration": {
            "$ref": "#/components/schemas/ActivationExtendDurationSchema"
          }
        },
        "type": "object"
      },
      "ActivationExtendDurationSchema": {
        "required": [
          "unit",
          "value"
        ],
        "properties": {
          "unit": {
            "type": "string",
            "enum": [
              "minute",
              "hour"
            ],
            "example": "hour"
          },
          "value": {
            "type": "integer",
            "example": 24
          }
        },
        "type": "object"
      },
      "BaseErrorResponse": {
        "description": "基本错误响应结构",
        "required": [
          "title",
          "details"
        ],
        "properties": {
          "title": {
            "description": "错误代码",
            "type": "string"
          },
          "details": {
            "description": "错误详细",
            "type": "string"
          },
          "info": {
            "description": "扩展信息",
            "type": "object",
            "additionalProperties": true
          }
        },
        "type": "object"
      }
    },
    "responses": {
      "EmailActivationSuccessResponse": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "$ref": "#/components/schemas/EmailActivation"
                }
              },
              "type": "object"
            }
          }
        }
      },
      "EmailActivationBatchSuccessResponse": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmailActivationCreateDTO"
                  }
                },
                "meta": {
                  "properties": {
                    "info": {
                      "type": "string",
                      "example": "Активация email успешна"
                    },
                    "count": {
                      "type": "integer",
                      "example": 3
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        }
      },
      "EmailActivationFavoriteSuccessResponse": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "$ref": "#/components/schemas/EmailActivationFavorite"
                }
              },
              "type": "object"
            }
          }
        }
      },
      "ServerErrorResponse": {
        "description": "SERVER_ERROR",
        "content": {
          "application/json": {
            "schema": {
              "required": [
                "title",
                "details"
              ],
              "properties": {
                "title": {
                  "description": "错误代码",
                  "type": "string",
                  "enum": [
                    "SERVER_ERROR"
                  ]
                },
                "details": {
                  "description": "错误详细",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        }
      },
      "TooManyRequestsResponse": {
        "description": "TOO_MANY_REQUESTS",
        "headers": {
          "Retry-After": {
            "description": "以秒为单位的值",
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "required": [
                "title",
                "details"
              ],
              "properties": {
                "title": {
                  "description": "错误代码",
                  "type": "string",
                  "enum": [
                    "RATE_LIMIT"
                  ]
                },
                "details": {
                  "description": "错误详细",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        }
      },
      "UnprocessableEntityResponse": {
        "description": "UNPROCESSABLE_ENTITY",
        "content": {
          "application/json": {
            "schema": {
              "required": [
                "title",
                "details",
                "errors"
              ],
              "properties": {
                "title": {
                  "description": "错误代码",
                  "type": "string"
                },
                "details": {
                  "description": "错误详细",
                  "type": "string"
                },
                "errors": {
                  "type": "object",
                  "example": {
                    "parameter1": [
                      "The parameter1 is required.",
                      "The parameter1 must be a number."
                    ],
                    "parameter2": [
                      "The parameter2 must be a number."
                    ]
                  },
                  "additionalProperties": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "type": "object"
            }
          }
        }
      },
      "NotFoundResponse": {
        "description": "NOT_FOUND",
        "content": {
          "application/json": {
            "schema": {
              "required": [
                "title",
                "details"
              ],
              "properties": {
                "title": {
                  "description": "错误代码",
                  "type": "string"
                },
                "details": {
                  "description": "错误详细",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        }
      },
      "UnauthorizedResponse": {
        "description": "UNAUTHORIZED",
        "content": {
          "application/json": {
            "schema": {
              "required": [
                "title",
                "details"
              ],
              "properties": {
                "title": {
                  "description": "错误代码",
                  "type": "string",
                  "enum": [
                    "Unauthenticated"
                  ]
                },
                "details": {
                  "description": "错误详细",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        }
      },
      "OfferNotFoundResponse": {
        "description": "NOT_FOUND",
        "content": {
          "application/json": {
            "schema": {
              "required": [
                "title",
                "details"
              ],
              "properties": {
                "title": {
                  "description": "错误代码",
                  "type": "string",
                  "enum": [
                    "OFFER_NOT_FOUND"
                  ]
                },
                "details": {
                  "description": "错误详细",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        }
      },
      "SAServerErrorResponse": {
        "description": "内部服务错误",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BaseErrorResponse"
            },
            "examples": {
              "SAServerErrorExample": {
                "$ref": "#/components/examples/SAServerErrorExample"
              }
            }
          }
        }
      },
      "methodNotFoundResponse": {
        "description": "方法未找到",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BaseErrorResponse"
            },
            "examples": {
              "methodNotFoundExample": {
                "$ref": "#/components/examples/methodNotFoundExample"
              }
            }
          }
        }
      },
      "activationNotFoundResponse": {
        "description": "未找到激活",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BaseErrorResponse"
            },
            "examples": {
              "activationNotFoundExample": {
                "$ref": "#/components/examples/activationNotFoundExample"
              },
              "methodNotFoundExample": {
                "$ref": "#/components/examples/methodNotFoundExample"
              }
            }
          }
        }
      },
      "unauthorizedResponse": {
        "description": "无效的 API 密钥",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BaseErrorResponse"
            },
            "examples": {
              "unauthorizedExample": {
                "$ref": "#/components/examples/unauthorizedExample"
              }
            }
          }
        }
      },
      "rentParamsBadRequestResponse": {
        "description": "请求参数无效",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BaseErrorResponse"
            },
            "examples": {
              "badDurationExample": {
                "$ref": "#/components/examples/badDurationExample"
              },
              "wrongCountryIdExample": {
                "$ref": "#/components/examples/wrongCountryIdExample"
              },
              "wrongServiceExample": {
                "$ref": "#/components/examples/wrongServiceExample"
              },
              "wrongCurrencyExample": {
                "$ref": "#/components/examples/wrongCurrencyExample"
              }
            }
          }
        }
      },
      "reactivationForbiddenResponse": {
        "description": "访问被拒绝",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BaseErrorResponse"
            },
            "examples": {
              "serviceUnavailableExample": {
                "$ref": "#/components/examples/serviceUnavailableExample"
              },
              "simOfflineExample": {
                "$ref": "#/components/examples/simOfflineExample"
              },
              "simTemporaryOfflineExample": {
                "$ref": "#/components/examples/simTemporaryOfflineExample"
              }
            }
          }
        }
      },
      "prolongationBadRequestResponse": {
        "description": "访问被拒绝",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BaseErrorResponse"
            },
            "examples": {
              "simOfflineExample": {
                "$ref": "#/components/examples/simOfflineExample"
              },
              "simTemporaryOfflineExample": {
                "$ref": "#/components/examples/simTemporaryOfflineExample"
              },
              "maxHoursExceedExample": {
                "$ref": "#/components/examples/maxHoursExceedExample"
              },
              "badDurationExample": {
                "$ref": "#/components/examples/badDurationExample"
              },
              "activationNotAvailableExample": {
                "$ref": "#/components/examples/activationNotAvailableExample"
              }
            }
          }
        }
      },
      "prolongationInfoBadRequestResponse": {
        "description": "访问被拒绝",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BaseErrorResponse"
            },
            "examples": {
              "simOfflineExample": {
                "$ref": "#/components/examples/simOfflineExample"
              },
              "simTemporaryOfflineExample": {
                "$ref": "#/components/examples/simTemporaryOfflineExample"
              },
              "maxHoursExceedExample": {
                "$ref": "#/components/examples/maxHoursExceedExample"
              },
              "activationNotAvailableExample": {
                "$ref": "#/components/examples/activationNotAvailableExample"
              }
            }
          }
        }
      },
      "badRequestResponse": {
        "description": "请求参数无效",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BaseErrorResponse"
            },
            "examples": {
              "badStatusExampleJson": {
                "$ref": "#/components/examples/badStatusExampleJson"
              }
            }
          }
        }
      },
      "getNumberBadRequestResponse": {
        "description": "请求参数无效",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BaseErrorResponse"
            },
            "examples": {
              "wrongMaxPriceExampleJson": {
                "$ref": "#/components/examples/wrongMaxPriceExampleJson"
              }
            }
          }
        }
      },
      "unprocessableEntityResponse": {
        "description": "请求参数无效",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BaseErrorResponse"
            },
            "examples": {
              "unprocessableEntityExample": {
                "$ref": "#/components/examples/unprocessableEntityExample"
              }
            }
          }
        }
      },
      "forbiddenResponse": {
        "description": "访问被拒绝",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BaseErrorResponse"
            },
            "examples": {
              "threadsReachedExample": {
                "$ref": "#/components/examples/threadsReachedExample"
              },
              "serviceRestrictedExample": {
                "$ref": "#/components/examples/serviceRestrictedExample"
              },
              "globalBanExample": {
                "$ref": "#/components/examples/globalBanExample"
              },
              "specificBanExample": {
                "$ref": "#/components/examples/specificBanExample"
              },
              "inactiveAccountExample": {
                "$ref": "#/components/examples/inactiveAccountExample"
              }
            }
          }
        }
      },
      "paymentRequiredResponse": {
        "description": "资金不足",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BaseErrorResponse"
            },
            "examples": {
              "paymentRequiredExample": {
                "$ref": "#/components/examples/paymentRequiredExample"
              }
            }
          }
        }
      },
      "noNumbersResponse": {
        "description": "没有可售号码",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BaseErrorResponse"
            },
            "examples": {
              "noNumbersExample": {
                "$ref": "#/components/examples/noNumbersExample"
              }
            }
          }
        }
      },
      "activationNotActiveResponse": {
        "description": "激活未激活。操作不可能",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BaseErrorResponse"
            },
            "examples": {
              "activationNotActiveExample": {
                "$ref": "#/components/examples/activationNotActiveExample"
              }
            }
          }
        }
      },
      "activationFinishConflictResponse": {
        "description": "无法完成激活",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BaseErrorResponse"
            },
            "examples": {
              "activationNewOtpReceivedExample": {
                "$ref": "#/components/examples/activationNewOtpReceivedExample"
              },
              "activationNotActiveExample": {
                "$ref": "#/components/examples/activationNotActiveExample"
              }
            }
          }
        }
      },
      "activationCancelConflictResponse": {
        "description": "无法取消激活",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BaseErrorResponse"
            },
            "examples": {
              "activationNewOtpReceivedExample": {
                "$ref": "#/components/examples/activationNewOtpReceivedExample"
              },
              "freeCancellationExpiredExample": {
                "$ref": "#/components/examples/freeCancellationExpiredExample"
              },
              "activationOtpReceivedExample": {
                "$ref": "#/components/examples/activationOtpReceivedExample"
              },
              "activationNotActiveExample": {
                "$ref": "#/components/examples/activationNotActiveExample"
              },
              "earlyCancellationExample": {
                "$ref": "#/components/examples/earlyCancellationExample"
              }
            }
          }
        }
      },
      "ActivationExtendOptionsSuccessResponse": {
        "description": "Success response",
        "content": {
          "application/json": {
            "schema": {
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "required": [
                    "options"
                  ],
                  "properties": {
                    "options": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ActivationExtendOptionSchema"
                      },
                      "minItems": 0
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object",
              "examples": {
                "success": {
                  "$ref": "#/components/examples/successExtendActivationOptionsExample"
                }
              }
            }
          }
        }
      }
    },
    "parameters": {
      "emailId": {
        "name": "emailId",
        "in": "path",
        "description": "邮箱激活 ID",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "example": 123456789
      },
      "search": {
        "name": "search",
        "in": "query",
        "description": "搜索栏",
        "schema": {
          "type": "string"
        }
      },
      "size": {
        "name": "size",
        "in": "query",
        "description": "包含数据的页面大小",
        "schema": {
          "type": "integer"
        }
      },
      "page": {
        "name": "page",
        "in": "query",
        "description": "包含数据的页面号",
        "schema": {
          "type": "integer"
        }
      },
      "sort": {
        "name": "sort",
[...]
